{% extends "index.html"%}
{% block template %}
    {#字符串#}
    hello one!! {{name}}<br>
    {#list#}
    {{ nameList.0 }}<br>
    {{ nameList }}
    <h3>过滤器</h3>
        <!--  变量名 | 过滤器:可选参数 -->
        Name list:<br/>
            转小写：{{ name_list | lower }}<br/>
            列表第一个元素转大写：{{ name_list | first | upper }}<br/>
            字符串截取：{{ name_list | first | truncatewords:"2" }}<br/>
            字符串省略号代替：{{ name | truncatechars:2 }}<br>
            字符串长度：{{ person.name | length }}<br/>
            默认值：{{ person.teacher | default:"Hyman" }}<br/>
            时间格式化：{{ birthday }} ---- {{ birthday | date:"F j, Y" }} ----
                {{ birthday | date:"Y-m-d H:i:s" }}<br/>
            文件大小格式化：{{ number | filesizeformat }}<br/>
            {# 这是注释标签 #}
            <!-- Django 会自动对 views.py 传到HTML文件中的标签语法进行转义，
                令其语义失效。加 safe 过滤器是告诉 Django 该数据是安全的，
                不必对其进行转义，可以让该数据语义生效 -->
            标签字符串：<a href="{{ url }}">点击跳转</a> ---- {{ a | safe }}<br>
    <h3>If标签</h3>
            {% if isman %}
                man
            {% endif %}
            {% if age <= 10 %}
                儿童
            {% elif 10 < age and age <= 30 %}
                青年
            {% else %}
                其他
            {% endif %}
            {% ifequal person person1 %}
                WellCome {{ person.name }}
            {% endifequal %}
    <h3>For标签</h3>
            <ur>
                {% for item in name_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ur>
            <table>
                <thead><td>id</td><td>name</td></thead>
                {% for item in name_list %}
                    <tr><td>{{ forloop.counter }}</td><td>{{ item }}</td></tr>
                {% endfor %}
            </table>
            <select>
                {% for item in name_list %}
                    <option>{{ item }}</option>
                {% endfor %}
            </select><br>
            {% for key,value in person.items %}
                {{ key }} ---- {{ value }}
            {% endfor %}
{% endblock template %}